<template>
    <div>
       <button v-bind:class="['button', 'is-small', winningClass, cardClass]" :disabled=disabled @click="clicked_card">
           <span class="is-size-5">{{numberlabel}} {{ suitlabel }}</span></button>
    </div>
</template>

<script>

import { mapState, mapMutations } from 'vuex';
export default {
    name: 'Card',
    props: ['suit', 'number', 'eligible', 'id', 'readonly', 'winning'],
    computed: {
        ...mapState(['suitindex']),
        ...mapState(['numberindex']),
        ...mapState(['selectedcard']),
        ...mapState(['active']),
        ...mapState(['code']),
        ...mapState(['trumps']),
        suitlabel() {
            return this.suitindex[this.suit]
        },
        numberlabel() {
            return this.numberindex[this.number]
        },
        disabled() {
            if (this.readonly == true || this.eligible == false) {
                return true
            } else {
                return false
            }
        },
        winningClass () {
            if (this.winning == true) {
                return 'winningClass'
            } else {
                return ''
            }
        },
        cardClass() {

            if (this.readonly) {
              if (this.suit == 0 || this.suit == 3) {
                    return 'redcard-static'
                } else {
                    return 'blackcard-static'
                }
            }
            if (this.selectedcard == this.id) {
                if (this.suit == 0 || this.suit == 3) {
                    return 'redcard-selected'
                } else {
                    return 'blackcard-selected'
                }
            } else {
                if (this.suit == 0 || this.suit == 3) {
                    return 'redcard'
                } else {
                    return 'blackcard'
                }
            }
        },
    }, 
    methods: {
        ...mapMutations(['set_selectedcard']),
        clicked_card() {
            if (this.trumps == null) { 
                return this.$buefy.toast.open(`Please select a suit first`);
            }
            if (this.readonly) { return }
            if (this.selectedcard == this.id) {
                this.set_selectedcard(100);
                return
            } else {
                this.set_selectedcard(this.id);
            }
            if (this.active) {
                this.set_selectedcard(100);
                console.log('Emit playedcard');
                this.$socket.emit('playedCard', JSON.stringify({code : this.code, userid: this.$socket.id, cardid: this.id})); 
            }
        },
    },
}
</script>

<style scoped>

button.redcard {
  background: #FFF !important;
  color: #FF3860 !important;
  border-color: #FF3860 !important;
}

button.blackcard {
  background: #FFF !important;
  color: rgb(0, 0, 0) !important;
  border-color: rgb(0, 0, 0) !important;
}

button.blackcard-selected {
  background: rgb(0, 0, 0) !important;
  color: #FFF !important;
  border-color: rgb(0, 0, 0) !important;
}

button.redcard-selected {
  background: #FF3860 !important;
  color: #FFF !important;
  border-color: #FF3860 !important;
}

button.redcard-static {
  background: #FFF !important;
  color: #FF3860 !important;
  border-color: #FF3860 !important;
}

button.blackcard-static {
  background: #FFF !important;
  color: rgb(0, 0, 0) !important;
  border-color: rgb(0, 0, 0) !important;
} 

button.redcard-static:disabled {
  opacity: 1;
}

button.blackcard-static:disabled {
  opacity: 1;
}

button.winningClass:disabled {
  border-color: green !important;
  border-width: thick !important;
  opacity: 1;
}


</style>