<template>
  <div>
    <h1>Count: {{count}} | Half: {{halfCount}} | Double: {{doubleup}}</h1>
    <div>
        <button class="button" @click="increment">count++</button>
        <button class="button" @click="reset_counter">reset</button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
export default {
  computed: {
    ...mapState(['count']),
    ...mapGetters(['doubleup']),
    halfCount () {
      return this.count / 2;
    },
  },
  methods: {
    ...mapMutations(['increment']),
    ...mapActions(['reset_counter']),
  },
};
</script>

<style>
</style>