<template>
    <div>
        <input type="text" v-model="message"/>
        <button @click="emitEvent">emit</button>
    </div>
</template>

<script>
export default {
  data () {
    return {
      message: ''
    }
  },
  methods: {
    emitEvent () {
      this.$socket.emit('hello', this.message)
    }
  }
}
</script>