<template>
    <section>
        <div class="container">
            <div class="columns is-centered is-vcentered is-mobile">
                <div class="column is-narrow has-text-centered">
                    <button class="button is-small is-danger" @click="confirmLeaveRoom">
                        Leave room {{ code }}
                    </button>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        computed: {
        ...mapState(['code']),
        },
        methods: {
            confirmLeaveRoom() {
                this.$buefy.dialog.confirm({
                    title: 'Quit game',
                    message: 'Leave the room? This action cannot be undone.',
                    confirmText: 'Leave',
                    type: 'is-danger',
                    hasIcon: false,
                    onConfirm: () => window.location = "/reset"
                })
            },
            exitRoom() {
                console.log('left');
            }

        }
    }
</script>