<template>
  <div class="gameboard">
    <section id='gameboardtop' class="section">
        <div class="container">
        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column is-narrow has-text-centered">
                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <h2 class="subtitle">Round {{ currentround }}.  Trumps are: 
                            </h2>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p>
                                <span v-if="trumps != null" >
                                    <TrumpCard :id=200 :suit=trumps :number=null :readonly=true />
                                </span>
                            </p>
                        </div>
                    </div>
                </nav>
                <div v-if="trumps == null && active == true">
                    <TrumpCard :id=0 :suit=0 :number=null /> 
                    <TrumpCard :id=0 :suit=1 :number=null /> 
                    <TrumpCard :id=0 :suit=3 :number=null /> 
                    <TrumpCard :id=0 :suit=2 :number=null /> 
                </div>
            </div>
        </div>
        </div>
    </section>
    
    <section class="section boardsection">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-two-thirds">

                    <article class="message is-warning">
                        <div class="message-header">
                            <p class="has-text-centered">Table</p>
                        </div>
                        <div class="message-body">
                            <div  v-for="player in players" :key="player.id">
                                <div class="columns is-mobile is-vcentered">
                                    <div class="column is-one-half">
                                        <Player :name=player.name :tricks=player.tricks :highesttricks=trick_leader.maxtricks :unique=trick_leader.unique /> 
                                        <!-- :highesttricks=trick_leader.maxtricks :unique=trick_leader.unique -->
                                    </div>
                                    <div class="column is-one-half">
                                        <template v-if=player.playedcard>
                                            <Card :suit=player.playedcard.suit :number=player.playedcard.number :id=player.playedcard.id :winning=player.playedcard.winning :readonly=true :eligible=false />
                                        </template>
                                    </div>
                                </div>
                                
                            </div>
                            <div v-if=outplayersexist>
                                <p class="outseparator"><strong>Out:</strong> {{ watchers }}</p>
                            </div>
                        </div>
                    </article>
                    <div v-if=wontrick class="has-text-centered">
                        <button class="button is-primary is-rounded" @click="collectTrick">Collect trick</button>
                    </div>
                </div>
 
                <div class="column is-one-thirds has-text-centered">
                    <article class="message is-primary">
                        <div class="message-header">
                                <p>Your Hand</p>
                        </div>
                        <div class="message-body">

                            <div v-for="card in hand" :key="card.id">
                                <p class="cardseparator"><Card :suit=card.suit :number=card.number :id=card.id :eligible=card.eligible /></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
  
</div>

 
</template>

<script>
import Card from './Card.vue'
import TrumpCard from './TrumpCard.vue'
import Player from './Player.vue'
import { mapState} from 'vuex';
export default {
  name: 'GameBoard',
  components: {
      Card,
      TrumpCard,
      Player,
  },
  data () {
    return {
      username: ''
    }
  },
  computed: {
    ...mapState(['currentround']),
    ...mapState(['players']),
    ...mapState(['outplayers']),
    ...mapState(['hand']),
    ...mapState(['active']),
    ...mapState(['trumps']),
    ...mapState(['suitindex']),
    ...mapState(['wontrick']),
    ...mapState(['code']),
    trick_leader() {        
        var maxvalue = 0;
        for (var i = 0; i < this.players.length; i++) {
            if (this.players[i].tricks > maxvalue) {
                maxvalue = this.players[i].tricks;
            }
        }
        var maxfreq = 0;
        for (var j = 0; j < this.players.length; j++) {
            if (this.players[j].tricks == maxvalue) {
                maxfreq = maxfreq + 1;
            }
        }
        var unique = true;
        if (maxfreq > 1) {
            unique = false;
        }
    return {'unique': unique, 'maxtricks': maxvalue}
    },
    watchers() {        
        var arr = [];
        for (var j = 0; j < this.outplayers.length; j++) {
            arr.push(this.outplayers[j].name);
        }
        var outplayerlist = arr.join(", ");
        return outplayerlist;
    },
    outplayersexist() {        
        if (this.outplayers.length > 0) {
            return true;
        } else {
            return false;
        }
    }
  },
  methods: {
    collectTrick () {
        console.log('Collected Trick');
        this.$socket.emit('collectTrick', JSON.stringify({code : this.code, userid: this.$socket.id})); 
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

p.cardseparator {
  margin: 10px 0px;
 }

p.outseparator {
  margin: 10px 0px;
 }

span.warningtext {
    color: #ff0000;
}

#gameboardtop {
    padding-bottom: 0 !important;
    padding-top: 1.5rem !important;
}

section.boardsection {
    padding-top: 20px;
}

</style>
