<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      This is currently a testing ground. Count is: {{ this.$store.state.count }}.<br>
      Connected: {{ this.$store.state.conn.connected }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
