<template>
    <div>
       <span v-bind:class="['tag', trickLabelClass]">{{ tricks }}</span> {{ name }}
    </div>
</template>

<script>
export default {
    name: 'Player',
    props: ['name', 'tricks', 'highesttricks', 'unique'],
    computed: {
        trickLabelClass () {
            if (this.tricks == 0) {
                return 'is-danger'
            } else if (this.tricks == this.highesttricks) {
                if (this.unique == true) {
                    return 'is-success'
                } else {
                    return 'is-info'
                }
            } else {
                return 'is-warning'
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>