<template>
  <div>
    <nav v-bind:class="['panel', socketStatusColour]">
      <p class="panel-heading">
        {{ socketStatusMessage }}
      </p>
        <div class="panel-block" v-if="this.$store.state.conn.connected">
          <p>ID: {{ this.$socket.id }}</p>
        </div>
        <div class="panel-block" v-else>
          Status: Not connected
        </div>
        <div class="panel-block"><p>Username: {{ this.$store.state.user.username }}</p></div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'SocketStatus',
  computed: {
    socketStatusColour() {
      if (this.$store.state.conn.connected) {
        return 'is-success';
      } else {
        return 'is-danger';
      }
    },
    socketStatusMessage() {
      if (this.$store.state.conn.connected) {
        return 'SocketIO Connected';
      } else {
        return 'SocketIO Disconnected';
      }
    }
  },

}
</script>
