<template>
  <div>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <nav v-bind:class="['panel', 'is-fixed-top', statusColour]">
        <p class="panel-heading">
          {{ statusMessage }}
        </p>
      </nav>
    </nav>
  </div>
</template>


<script>
import { mapState } from 'vuex';
export default {
  name: 'status',
  computed: {
    ...mapState(['message']),
    ...mapState(['active']),
    statusColour() {
      if (this.$store.state.conn.connected == false) {
        return 'is-danger';
      } else if (this.active == true) {
        return 'is-success';
      } else {
        return 'is-info';
      }
    },

    statusMessage() {
      if (this.$store.state.conn.connected == false) {
        return 'No connection to game';
      } else {
        return this.message;
      }
    },




  },
}
</script>