<template>
  <div id="app">
    <StatusBar/>
    <Welcome v-if="this.$store.state.gamestate == 'welcome'"/>
    <Lobby v-if="this.$store.state.gamestate == 'lobby'"/> 
    <GameBoard  v-if="this.$store.state.gamestate == 'game'"/>
    <GameStatus v-if="this.$store.state.gamestate == 'gamestatus'"/>    
    <Footer v-if="this.$store.state.gamestate != 'welcome'"/>   
  </div>
</template>

<script>
import Welcome from './components/Welcome.vue'
import Lobby from './components/Lobby.vue'
import StatusBar from './components/StatusBar.vue'
import GameBoard from './components/GameBoard.vue'
import GameStatus from './components/GameStatus.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    StatusBar,
    Welcome,
    Lobby,
    GameBoard,
    GameStatus,
    Footer,
  }
}
</script>

<style style=scss>
#app {

  p {
    margin: 5px 0px;
  }

}
</style>
